/* Bungee Outline */
/* font-family: 'Bungee Outline', cursive; */
@import url('https://fonts.googleapis.com/css?family=Bungee+Outline&display=swap');

/* Corben */
/* font-family: 'Corben', cursive; */
@import url('https://fonts.googleapis.com/css?family=Corben&display=swap');
.profile-wrapper {
    border-radius: 100px;
    box-shadow: 0px 0px 10px 0px #efefef;
    height: 138px;
    width: 138px;
    overflow: hidden;
    display: inline-block;
    position: relative;

}

.profile-pic {
    width: 250px;
    height: auto;
    transform: rotate(90deg);
    position: relative;
    left: -55px;
    top: -10px;
    
}

#one img {
    max-height: 391px;
}
#ctype h3 {
    font-family: 'Bungee Outline', cursive;
    font-weight: bold;
    letter-spacing: 2px;
}

#drm h3 {
    position: relative;
    font-family: 'Corben', cursive;
    color: #feef00;
    /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

#drm span {
    position: relative;
    top: -3px;
}

#drm .pill-bg {
    position: absolute;
    /* border: solid 1px black; */
    box-shadow: inset 0px 0px 4px 0px black;
    width: 50%;
    height: 100%;
    top: 0;
    z-index: -1;
}

#drm .left {
    left: 0;
    border-radius: 100px 0 0 100px;
    border-right: none;
    background: #E50301;
}

#drm .button {
    cursor: not-allowed;
}
#drm .right {
    right:0;
    border-radius: 0 100px 100px 0;
    border-left: none;
    background: #1C53F4;
}

.image.fit {
    display: flex;
    justify-content: center;
}
.image.fit.tease img{
    width: 302px;
    height: 197px;
    box-shadow: 0 0 10px;
}

ul.major-icons li {
    position: relative;
    height: 150px;
    width: 150px;
}
ul.major-icons span {
    position: absolute;
}
ul.major-icons li i::before{
    /* position: absolute;
    left: 30%;
    top: 30%; */
    font-size: 5em;

}