/* Bungee Outline */
/* font-family: 'Bungee Outline', cursive; */
@import url('https://fonts.googleapis.com/css?family=Bungee+Outline&display=swap');

/* Corben */
/* font-family: 'Corben', cursive; */
@import url('https://fonts.googleapis.com/css?family=Corben&display=swap');
.profile-pic {
    border-radius: 100px;
    box-shadow: 0px 0px 10px 0px #efefef;
}

#ctype h3 {
    font-family: 'Bungee Outline', cursive;
    font-weight: bold;
    letter-spacing: 2px;
}

#drm h3 {
    position: relative;
    font-family: 'Corben', cursive;
    color: #feef00;
    /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

#drm span {
    position: relative;
    top: -3px;
}

#drm .pill-bg {
    position: absolute;
    /* border: solid 1px black; */
    box-shadow: inset 0px 0px 4px 0px black;
    width: 50%;
    height: 100%;
    top: 0;
    z-index: -1;
}

#drm .left {
    left: 0;
    border-radius: 100px 0 0 100px;
    border-right: none;
    background: #E50301;
}
#drm .right {
    right:0;
    border-radius: 0 100px 100px 0;
    border-left: none;
    background: #1C53F4;
}

.image.fit {
    display: flex;
    justify-content: center;
}
.image.fit.tease img{
    width: 302px;
    height: 197px;
    box-shadow: 0 0 10px;
}